@import "../general/variables.scss";
@import "../general/mixins.scss";

.modal-delivery-zone {
  display: none;
}

.modal-delivery-zone__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.modal-delivery-zone__link {
  color: $accent-color;
  text-decoration: underline;
}
