@import "../general/variables.scss";
@import "../general/mixins.scss";

.modal-login {
  display: none;
  &--open {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: auto;
    background-color: transparent;
  }
}
