@font-face {
  font-weight: normal;
  font-family: "Montserrat";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/MontserratRegular/MontserratRegular.woff2") format("woff2"), url("../fonts/MontserratRegular/MontserratRegular.woff") format("woff");
}
@font-face {
  font-weight: 700;
  font-family: "Montserrat";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/MontserratBold/MontserratBold.woff2") format("woff2"), url("../fonts/MontserratBold/MontserratBold.woff") format("woff");
}
@font-face {
  font-weight: 300;
  font-family: "Montserrat";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/MontserratLight/MontserratLight.woff2") format("woff2"), url("../fonts/MontserratLight/MontserratLight.woff") format("woff");
}
@font-face {
  font-weight: 500;
  font-family: "Montserrat";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/MontserratMedium/MontserratMedium.woff2") format("woff2"), url("../fonts/MontserratMedium/MontserratMedium.woff") format("woff");
}
@font-face {
  font-weight: 600;
  font-family: "Montserrat";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/MontserratSemiBold/MontserratSemiBold.woff2") format("woff2"), url("../fonts/MontserratSemiBold/MontserratSemiBold.woff") format("woff");
}
