/* Colors */
$first-color: #333333;
$second-color: #FFFFFF;
$third-color: #A6D914;
$accent-color: #A1D214;
$lighter-color: #F1F1F1;
$bright-color: #FFC709;
$bright-color-second: #FF5C00;
$pale-color: #C8C8C8;
$pale-color-second: #E7E7E7;



/* Fonts */
$font: "Montserrat", "Arial", sans-serif;
$font-size-small: 8px;
$font-size-default: 12px;
$font-size-bigger: 14px;
$font-size-big: 18px;
$font-size-very-big: 24px;
$regular: 400;
$bolder: 500;
$bold: 700;

/* Media */

$media-lg: 1440px;
$media-md: 1024px;
$media-sm: 768px;
$media-xs: 480px;
