/* Colors */
$first-color: #333333;
$second-color: #ffffff;
$third-color: #A6D914;
$accent-color: #A1D214;

/* Fonts */
$font: "Montserrat", "Arial", sans-serif;
$font-size-default: 12px;
$font-size-bigger: 14px;
$font-size-big: 18px;
$regular: 400;
$bolder: 500;
$bold: 700;

/* Media */

$media-lg: 1440px;
$media-md: 1024px;
$media-sm: 768px;
$media-xs: 480px;
