/* Colors */
$first-color: #333333;
$second-color: #ffffff;

/* Fonts */
$font: "Montserrat", "Arial", sans-serif;
$regular: 400;
$bold: 700;

/* Media */

$media-lg: 1440px;
$media-md: 1024px;
$media-sm: 768px;
$media-xs: 480px;
