@import "./general/variables.scss";
@import "./general/mixins.scss";

.cart {
  position: relative;
}

.cart__icon {
  width: 20px;
  height: 20px;
}

.cart-modal {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  display: block;
  width: 200px;
  padding: 5px;
  background: $lighter-color;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  z-index: 2;
  transition: opacity 0.3s;
  &--open {
    visibility: visible;
    opacity: 1;
  }
}

.cart-section {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0;
  }

  &--auth {
    display: none;
    & .cart-title {
      padding: 11px 20px;
      margin: -5px -5px 45px;
      font-size: $font-size-bigger;
      text-align: center;
      background-color: $second-color;
      border-radius: 10px;
      opacity: 1;
    }

    & .cart-title span {
      font-weight: $bold;
    }
  }
}

.user-auth .cart-section,
.user-auth .cart-note {
  display: none;
}

.user-auth .cart-section--auth {
  display: flex;
  flex-direction: column;
}

.cart-section-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-section-icon {
  margin-bottom: 20px;
}

.cart-title {
  margin-bottom: 10px;
  font-size: 6px;
  color: $first-color;
  opacity: 0.5;
}

.cart-section-text {
  padding: 0 30px;
  margin-bottom: 49px;
  font-size: $font-size-bigger;
  font-weight: $bold;
  text-align: center;
  opacity: 0.3;
  &--note {
    padding: 0 15px;
    margin-bottom: 40px;
    font-size: $font-size-default;
    font-weight: $regular;
  }

  &--note:last-of-type {
    margin-bottom: 68px;
  }
}

.cart-section-link {
  display: block;
  width: 173px;
  padding: 12px 0;
  margin-bottom: 10px;
  text-align: center;
  background-color: $second-color;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border: 1px solid transparent;
  border-radius: 10px;
  transition: box-shadow 0.3s, border 0.3s;
  &:hover,
  &:focus {
    color: inherit;
  }

  &:hover {
    box-shadow: none;
  }

  &:focus {
    border: 1px solid $accent-color
  }

  &--order {
    padding: 0;
    margin-bottom: 10px;
    font-size: $font-size-default;
    font-weight: $regular;
    text-decoration: underline;
    background-color: transparent;
    border: none;
    box-shadow: none;
    opacity: 0.7;
    transition: opacity 0.3s;
  }

  &--order:hover,
  &--order:focus {
    border: none;
    opacity: 1;
  }
}

.cart-list {
  @include reset-list;
  width: 100%;
}

.cart-list__item {
  position: relative;
  display: grid;
  grid-template-columns: 46px 23px auto;
  grid-template-rows: auto;
  width: 100%;
  padding: 5px 0 3px ;
  background: $second-color;
  border-radius: 5px;
  outline: none;
  margin-bottom: 4px;
  transition: opacity 0.3s, box-shadow 0.3s;
  &:last-child {
    margin-bottom: 0;
  }

  &:hover,
  &:focus {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
  }

  &--deleted {
    animation: cart-delete 0.4s ease-in;
  }
}

.cart-img {
  display: flex;
  justify-content: center;
}

.cart-count {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 100%;
}

.cart-count__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  border-radius: 5px;
  opacity: 0.3;
  z-index: 1;
  transition: box-shadow 0.3s, opacity 0.3s;
  &:hover,
  &:focus {
    opacity: 1;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  }
}

.cart-count__input {
  width: 65%;
  padding: 0;
  padding-left: 3px;
  border: none;
  outline: none;
}

.cart-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 20px;
}

.cart-product {
  font-size: 8px;
  font-weight: $bolder;
  color: $first-color;
  opacity: 0.7;
}

.cart-content__footer {
  display: flex;
  align-items: center;
  margin: 0;
}

.cart-price {
  margin-right: 12px;
  font-size: 10px;
  font-weight: $bold;
}

.cart-weight {
  margin: 0;
  font-size: 8px;
  opacity: 0.5;
}

// Slider

.cart-slider {
  overflow: hidden;
  & .cart-scrollbar {
    bottom: -10px;
    width: 100%;
    height: 2px;
    background: $pale-color-second;
    border-radius: 5px;
    z-index: 2;
  }

  & .cart-scrollbar-drag {
    position: relative;
    left: 0;
    top: 0;
    height: 2px;
    background-color: $second-color;
    border-radius: 10px;
  }
}

.card-slide {
  width: 126px;
  background-color: $second-color;
  border-radius: 5px;
}

.cart-slide__inner {
  display: grid;
  grid-template-columns: 47px auto;
  grid-template-rows: auto;
  padding: 4px 0;
}

.cart-slide__img {
  display: flex;
  justify-content: center;
  & img {
    height: min-content;
  }
}

.cart-slide__content {
  display: flex;
  flex-direction: column;
  padding-right: 9px;
}

.cart-slide__product {
  margin-bottom: 3px;
  font-weight: $bolder;
  font-size: 8px;
  line-height: 10px;
  opacity: 0.7;
}

.cart-slide__footer {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.cart-slide__price {
  margin-right: 3px;
  font-weight: $bold;
  font-size: 10px;
  line-height: 12px;
}

.cart-slide__weight {
  margin: 0;
  font-size: 8px;
  opacity: 0.5;
}

.cart-slide__btn {
  width: 100%;
  font-weight: $bold;
  font-size: 8px;
  background-color: $accent-color;
  border-radius: 10px;
  & span {
    margin-right: 10px;
  }
}

// //Slider

.cart-note {
  margin: 15px 0 55px;
  font-size: 6px;
  line-height: 7px;
  opacity: 0.3;
}

.cart-total {
  padding: 5px 5px 10px;
  margin: -5px;
  background: $second-color;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.cart-total__label {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;
}

.cart-total__label-text {
  width: 50%;
  font-size: $font-size-bigger;
  font-weight: $regular;
  line-height: 17px;
  opacity: 0.3;
}

.cart-total__input {
  width: 50%;
  font-weight: $bold;
  font-size: $font-size-very-big;
  line-height: 29px;
  text-align: right;
  border: none;
  outline: none;
}

.cart-total__submit {
  width: 100%;
  padding: 9.5px 0;
  background-color: $accent-color;
  border-radius: 10px;
  font-weight: $bold;
  line-height: 15px;
  transition: box-shadow 0.3s;
  &:hover,
  &:focus {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  }
}

.cart-total__submit-img {
  position: relative;
  margin-right: 10px;
}

.cart-total__submit-count {
  position: absolute;
  top: -7px;
  right: 0;
  padding: 1.5px;
  font-weight: $bolder;
  font-size: $font-size-small;
  line-height: 10px;
  border: 1px solid $accent-color;
  border-radius: 50%;
  background-color: $second-color;
}

.cart-total__submit-icon {
  width: 24px;
  height: 24px;
}
