@import "./general/variables.scss";

.delivery-zone {
  position: relative;
}

.delivery-zone__btn {
  position: inherit;
  font-size: $font-size-bigger;
  font-weight: $bold;
  color: $second-color;
  &:focus {
    z-index: 2;
  }
}

.delivery-zone__icon {
  fill: $third-color;
}

.delivery-zone__decor {
  margin-left: 10px;
  fill: $second-color;
  transition: all 0.3s;
}
