@import "./general/variables.scss";
@import "./general/mixins.scss";

.discounts {
  position: relative;
}

.discounts__link {
  padding: 0;

  &:hover .discounts__icon:not(.discounts__icon--arrow),
  &:focus .discounts__icon:not(.discounts__icon--arrow) {
    background-color: $bright-color-second;
  }

  &:hover .discounts__icon-img,
  &:focus .discounts__icon-img {
    fill: $second-color;
  }

  &:hover .discounts__icon--arrow svg,
  &:focus .discounts__icon--arrow svg {
    fill: $bright-color-second;
  }
}

.discounts__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  margin-right: 9px;
  background-color: $bright-color;
  border-radius: 10px;
  &--arrow {
    display: unset;
    width: auto;
    height: auto;
    margin-right: 0;
    margin-left: 8px;
    background-color: unset;
    border-radius: unset;
  }

  &--arrow .discounts__icon-img {
    fill: $bright-color;
  }
}

.discounts__icon-img {
  width: 18px;
  height: 24px;
  transition: fill 0.3s;
}
