@import "./general/variables.scss";

.menu-btn {
  max-width: 135px;
  padding: 12px 19px;
  border: none;
  border-radius: 10px;
  background-color: $accent-color;
  font-size: $font-size-bigger;
  font-weight: $bold;
  transition: opacity 0.3s;
  &:hover,
  &:focus {
    opacity: 0.8;
    color: inherit;
  }
}

.menu-btn__icon {
  width: 22px;
  height: 16.5px;
  margin-right: 15px;
}
