@import "./general/variables.scss";

.phone {
  display: flex;
  align-items: center;
  font-weight: $bold;
  font-size: $font-size-bigger;
  color: $second-color;
}

.phone__icon {
  margin-right: 14px;
  fill: $third-color;
}
