@import "./general/variables.scss";

.topmenu-second {
  padding-right: 25px;
  color: $second-color;
}

.topmenu-second__list {
  display: flex;
  justify-content: space-between;
}

.topmenu-second__list-link {
  color: $second-color;
  font-weight: $bolder;
  border: none;
  outline: none;
  transition: opacity 0.3s, color 0.3s;
  &:hover,
  &:focus {
    color: $second-color;
    opacity: 0.8;
  }

  &--active {
    color: $accent-color;
    &:hover,
    &:focus {
      color: $accent-color;
      opacity: 1;
    }
  }
}
