@import "./general/variables.scss";
@import "./general/mixins.scss";

.wrapper-overlay {
  display: none;
  &--open {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
  }
}
