@import "./../general/variables.scss";
@import "./../general/mixins.scss";

.form-main-search {
  width: 100%;
}

.form-main-search__label {
  width: 100%;
}

.form-main-search__input {
  width: 100%;
}

